SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=postgres://user:password@localhost:5433/dbname

# A completar cuando se integre Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=

# A completar cuando se configure el envio de emails
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
