{% extends "base.html" %}

{% comment %}
  Layout de la aplicación autenticada: wrapper glass + navbar + sidebar
  responsive. Las páginas internas extienden este template y rellenan
  {% block app_content %}. En Fase 1 se protegerá con login.
{% endcomment %}

{% block body %}
<div class="app-shell container-fluid py-2 py-md-3 px-md-4">
  <div class="glass-dashboard-wrapper shadow">
    {% include "partials/navbar.html" %}

    <div class="d-flex">
      {% include "partials/sidebar.html" %}

      <main class="flex-grow-1 p-3 p-md-4" style="min-width: 0;">
        {% block app_content %}{% endblock %}
      </main>
    </div>
  </div>
</div>
{% endblock %}
